.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.upperCase {
  text-transform: uppercase;
}
.lowerCase {
  text-transform: lowercase;
}
.font-style {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 1rem; */
}
.type textarea {
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.491);
  padding: 15px;
  background: linear-gradient(to right, rgba(240, 128, 128, 0.434), #9c429f64);
}
.btns button {
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(
    to right,
    rgba(75, 150, 56, 0.292),
    rgba(136, 95, 20, 0.463)
  );
  margin: 10px 10px 0 10px;
}
.btns {
  /* max-width: 240px; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  justify-content: center;
}
